header {
  height: 100px;
  width: 400px;
  background-color : #141f40
}
.clearfix::after {
  content:'';
  display: block;
  clear: both;
}
/* main {
  height: 250px
} */
.green {
  background-color: #80bfa8;
  width: 150px;
  height: 250px;
  float: left;
}
.yellow {
  width: 150px;
  background-color: #dbd400;
  height: 50px
}
.pink {
  height: 150px;
  background-color: #ff9e6b;
  width: 100px;
  float: right;
}
.blue {
  width: 150px;
  height: 100px;
  background-color: #0093b7;
}
.red {
  width :250px;
  height: 100px;
  background-color: #8c2727;
}
footer {
  height: 100px;
  width: 400px;
  background-color: #d98b30;
}
.right {
  float:left;
}
.float {
  float: right;
}

