@media screen and (max-width: 479px) {
  header {
    width: 200px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
  }
  .headbox {
    float: none;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .headboxs {
    float: none;
    width: 60px;
    height: 160px;
    margin: 0 auto;
  }
  .left {
    width: 200px;
    height: 100px;
  }
  .right {
    width: 200px;
    height: 180px;
    padding: 20px 30px;
  }
  .rightbox {
    box-sizing: border-box;
  }
  footer {
    width: 200px;
  }
}